# Ignore everything
*

# But not these files...
!.gitignore
!estimatec.py
!normalize.py
!register.sh
!README.md
!concentration_from_T1map.py
!make_brainmask.py
!diffusion.py
!measurements.py
!fenics2mri.py
!mri2fenics.py
# etc...

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
# !*/a/b/file1.txt
# !*/a/b/c/*
